<mat-card [ngClass]="'mat-elevation-z8'" [ngStyle]="{'height': '90vh'}">
  <mat-card-header>
    <mat-card-title>Available Playlists</mat-card-title>
  </mat-card-header>
  <hr />
  <mat-card-content [ngStyle]="{'height': '90%', 'overflow-y': 'auto', 'width': '70vw'}">
    <mat-selection-list #shoes>
      <mat-list-option *ngFor="let shoe of userTestStatus" checkboxPosition="before">
        <div [ngStyle]="{'display': 'inline-block'}">
          <div [ngStyle]="{'float': 'left'}">
            <div mat-line>{{shoe.name}}</div>
            <div mat-line> {{shoe.count}} </div>
          </div>
          <div [ngStyle]="{'float': 'right'}">
            <button mat-raised-button [ngStyle]="{'background-color': '#1ED760'}">
              <i class="fas fa-external-link-alt"></i>&nbsp;Open Playlist
            </button>
          </div>
        </div>
      </mat-list-option>
    </mat-selection-list>
  </mat-card-content>
</mat-card>

<!--<p>-->
<!--  Options selected: {{shoes.selectedOptions.selected.length}}-->
<!--</p>-->
