<div class="container-fluid align-items-center pt-5">
  <div class="d-flex justify-content-center align-items-center mb-5">
    <img src="../../../assets/spotify-logo.png" class="rounded mx-auto d-block fade-in" style="width: 510px; height: 281px"
         alt="image">
  </div>
  <div class="d-flex justify-content-center align-items-center">
    <h1 class="mat-display-4 fade-in">&nbsp;{{bigTitle}}</h1>
  </div>
  <div class="d-flex justify-content-center align-items-center">
    <button mat-raised-button class="btn-sp" [hidden]="!okToDisplay" (click)="startAuth()">
      Start Using Spotify Playlist Exporter
    </button>
  </div>
</div>



