.scrollable-container-content {
  position:absolute;
  top:100px;
  bottom:100px;
  left:0;
  right:0;
  overflow:auto;
}

.scrollable-container-header {
  position:absolute;
  top:0;
  left:0;
  height:100px;
  right:0;
  overflow:hidden;
}

.scrollable-container-footer {
  position:absolute;
  bottom:0;
  height:100px;
  left:0;
  right:0;
  overflow:hidden;
}
